:root {

--young-serif: font-family: 'Lato', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Young Serif', serif; 
 }
*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}


/* headre */
.presentancion {

display: flex;
justify-content: center;
align-items: center; 
background-color:  #1c2833;

margin-bottom: 30px;
}

.p-inicio{
margin: 20px 20px;
color:  #cb4335 ;
font-size: 40px;
}

/* final-del-header */



/* main */

.contenedor-1{
display: grid;
gap: 30px;
grid-template-columns: repeat(4,150px);
justify-content: center;
align-items: center;
}


.contenedor-2{
box-shadow: 1px 1px 1px 1px;
border-radius: 20px;

padding: 40px;
cursor: pointer;
}

.contenedor-2:hover{
background-color:  #bfc9ca;


}



/* botones */

.botones{
display: flex;
justify-content: center;
justify-items: center;

margin: 40px 0px;

}

.antes,.siguiente{
margin: 0px 5px;
padding: 15px;
color: #b03a2e ;
background-color:  #1c2833 ;
border-radius: 20px;
border: none;
cursor: pointer;


font-size: 15px;
font-family: var(--young-serif);
}

.antes:hover{

background-color: black;
color:#f1c40f ;
}

.siguiente:hover{

    background-color: black;
    color:#f1c40f ;  
}